@{
    ViewData["Title"] = "Home Page";
}

<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                               
                            </ol>
                        </div>
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->



            <div class="row justify-content-center">
                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one bg-pink">
                        <h6 class="text-black font-weight-bold text-uppercase mt-0">Riders</h6>
                        <h3 class="my-3" data-plugin="counterup">@ViewBag.RiderCount</h3>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one bg-success">
                        <h6 class="text-black font-weight-bold text-uppercase mt-0">Merchant</h6>
                        <h3 class="my-3"><span data-plugin="counterup">@ViewBag.MerchantCount</span></h3>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one bg-info">
                        <h6 class="text-muted text-uppercase mt-0">Total Parcel</h6>
                        <h3 class="my-3"><span data-plugin="counterup">@ViewBag.TotalParcel</span></h3>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row justify-content-center">
                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one bg-warning">
                        <h6 class="text-black font-weight-bold text-uppercase mt-0">Total Pickup Request</h6>
                        <h3 class="my-3" data-plugin="counterup">@ViewBag.PickupCount</h3>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one bg-success">
                        <h6 class="text-black font-weight-bold text-uppercase mt-0">Parcel Dispatched</h6>
                        <h3 class="my-3"><span data-plugin="counterup">@ViewBag.DispatchCount</span></h3>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one bg-primary">
                        <h6 class="text-black font-weight-bold text-uppercase mt-0">Delivery Complete</h6>
                        <h3 class="my-3"><span data-plugin="counterup">@ViewBag.DeliveredCount</span></h3>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row justify-content-center">
                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one bg-warning">
                        <h6 class="text-black font-weight-bold text-uppercase mt-0">On Transit</h6>
                        <h3 class="my-3" data-plugin="counterup">@ViewBag.TransitCount</h3>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one bg-success">
                        <h6 class="text-black font-weight-bold text-uppercase mt-0">Returned Parcel</h6>
                        <h3 class="my-3"><span data-plugin="counterup">@ViewBag.ReturnCount</span></h3>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one bg-primary">
                        <h6 class="text-black font-weight-bold text-uppercase mt-0">Parcel Cancelled</h6>
                        <h3 class="my-3"><span data-plugin="counterup">@ViewBag.CancelledCount</span></h3>
                    </div>
                </div>
            </div>


        </div> <!-- end container-fluid -->

    </div> <!-- end content -->





</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->
