@model IEnumerable<Courier_Service_V1.Models.Parcel>

@{
    ViewData["Title"] = "Parcel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-box">
                        <h4 class="header-title">Parcels</h4>

                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Receiver Name</th>
                                        <th>Address</th>
                                        <th>Contact</th>
                                        <th> Email</th>
                                        <th>Product Name</th>
                                        <th>Product Weight</th>
                                        <th>Product Price</th>
                                        <th>Product Quantity</th>
                                        <th>Delivery Charge</th>
                                        <th>Status</th>
                                       
                                        <th>Action</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var parcel in Model)
                                    {
                                        <tr>
                                            <td>@parcel.Id</td>
                                            <td>@parcel.ReceiverName</td>
                                            <td>@parcel.ReceiverAddress</td>
                                            <td>@parcel.ReceiverContactNumber</td>
                                            <td>@parcel.ReceiverEmail</td>
                                            <td>@parcel.ProductName</td>
                                            <td>@parcel.ProductWeight</td>
                                            <td>@parcel.ProductPrice</td>
                                            <td>@parcel.ProductQuantity</td>
                                            <td>@parcel.DeliveryCharge</td>


                                            @if (parcel.Status == "Pickup Request")
                                            {
                                                <td><span class="badge badge-success font-weight-bold">@parcel.Status</span></td>
                                            }
                                            else if (parcel.Status == "Dispatch")
                                            {
                                                <td><span class="badge badge-success font-weight-bold">@parcel.Status</span></td>
                                            }
                                            else if (parcel.Status == "Transit")
                                            {
                                                <td><span class="badge badge-info text-medium">@parcel.Status</span></td>
                                            }
                                            else if (parcel.Status == "Delivered")
                                            {
                                                <td><span class="badge badge-success text-medium">@parcel.Status</span></td>
                                            }
                                            else
                                            {
                                                <td><span class="badge badge-danger text-medium">@parcel.Status</span></td>
                                            }
                                           
                                            @if(parcel.RiderId ==null)
                                            {
                                                <td>
                                                    <a asp-action="AssignParcel" asp-route-id="@parcel.Id" asp-controller="Home" class="btn btn-sm btn-warning">
                                                        <i class="fas fa-plus-circle"></i> Assign Rider
                                                        
                                                    </a>
                                                    
                                                </td>
                                            }
                                            else
                                            {
                                                <td>

                                                    <span class="badge badge-success text-medium">Rider Assigned</span>
                                                   @*  <a asp-route-id="@parcel.Id" asp-controller="Home" asp-action="DeleteRider" class="btn btn-danger">
                                                        <i class="fas fa-trash"></i>

                                                    </a> *@
                                                </td>
                                            }
                                            <td>
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-sm btn-danger waves-effect waves-light" data-toggle="modal" data-target="#myModal">
                                                    <i class="fas fa-trash"></i>
                                                    Delete
                                                </button>
                                            </td>

                                            
                                        </tr>
                                        <!-- sample modal content -->
                                        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="myModalLabel">Delete Rider</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h5 class="font-16">Are you sure?</h5>


                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Close</button>
                                                        <a asp-route-id="@parcel.Id" asp-action="DeleteParcel" class="btn btn-danger">
                                                            <i class="fas fa-trash"></i>
                                                            Delete
                                                        </a>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div>

                                        <!-- /.modal -->
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
